<%= render "shared/page_title", title: "Profile" %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="lead"><%= @user.username %></p>
        <p><small><strong>First name:</strong> <%= @user.first_name %></small></p>
        <p><small><strong>Last name:</strong> <%= @user.last_name %></small></p>
        <p><small><strong>Email:</strong> <%= @user.email %></small></p>
        <% if @user == current_user %>
          <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-default" %>
          <%= link_to "Delete account", user_confirm_delete_path(@user), class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Posts <span class="badge"><%= @user.posts.count %></span></a></li>
      <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments <span class="badge"><%= @user.comments.count %></span></a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="profile"><%= render "posts/posts_table_view", posts: @user.posts %></div>
      <div role="tabpanel" class="tab-pane" id="comments"><%= render "comments/comments_table_view", comments: @user.comments %></div>
    </div>
  </div>
</div>