<div class="row post">
  <div class="col-md-6 col-md-offset-3 well">
    <div class="row hidden-xs">
      <div class="col-md-12">
        <p>
          <%= render post.categories %>
        </p>
      </div>
    </div>
    <p class="lead"><%= link_to post.title, post %></p>
    <p><%= sanitize truncate(post.body, length: 70) %></p>
    <hr>
    <%= render "posts/edit_del_links", post: post %>
    <small>posted by <%= link_to post.author.username, user_path(post.author) %> on <%= post.created_at %></small>
  </div>
</div>