<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @post.title %> <small>by: <%= link_to @post.author.username, user_path(@post.author) %></small></h3>
        <p class="hidden-xs"><small>categories: <%= render @post.categories %></small></p>
        </div>
      <div class="panel-body"><%= simple_format @post.body %></div>
      <% if @post.author == current_user %>
        <div class="panel-footer"><%= render "edit_del_links", post: @post %></div>
      <% end %>
    </div>
  </div>
</div>
<hr>
<% if logged_in? %>
  <div class="row">
    <div class="col-md-6">
      <%= render "comments/form" %>
    </div>
  </div>
<% end %>
<div class="row comments">
  <div class="col-md-6">
    <% if @post.comments.empty? %>
      <p class="lead">No comments</p>
    <% else %>
      <%= render @post.comments %>
    <% end %>
  </div>
</div>